.users_management_form_proto .col-0,
.users_management_form_proto .col-1,
.users_management_form_proto .col-2,
.users_management_form_proto .col-3{
	width: 250px;
}

.users_management_form_proto .col-0 input,
.users_management_form_proto .col-1 input,
.users_management_form_proto .col-2 input,
.users_management_form_proto .col-3 input{
	width: 95%;
	margin: 0px auto;
}

.users_management_form_proto .dl_submit_set{
	width: 400px;
}