.input_table {
	margin: 0px 10px;
}

.form_row_node {
	margin: 2px 0px;
	padding: 2px 0px;
}

.form_row_node.e {
	background-color: #ddd;
}

.form_row_node.o {
	background-color: #ccc;
}

.form_element_node {
	display: inline-block;
}

.input_button {
	text-align: center;
}

.form_element_node label{
	margin-left:  6px;
	margin-right: 4px;
}
/*-----------*/
.install_prototyper-menu {
	list-style-type: none;
	border-bottom: 1px solid black;
	margin-bottom: 4px;
}

.install_prototyper-menu li{
	display: inline-block;
	margin-left: 15px;
}

.install_prototyper-menu li.first{
	margin-left: 5px;
}

.install_prototyper-menu li a{
	color: #99f;
	text-decoration: none;
}

.install_prototyper-menu li a.selected{
	color: #00f;
}

.install_prototyper-menu li a:hover{
	color: #ccf;
}